body html {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    position: relative;
}
header, main, footer{
    display: grid;
    grid-column: 2/3;
}
header {
    background-color: yellow;
}
main {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    background-color: red;
    justify-items: center;
}
.article {
    text-align: center;
    justify-content: center;
    grid-column: 2/3;
}
header h1{
    justify-self: center;
}
ul {
    background-color: grey;
    padding: 0;
    display: grid;
    grid-auto-columns: minmax(100px, 1fr);
}
a{
    list-style: none;
    text-decoration: none;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: space-evenly;
}

#video_presentation {
    justify-content: center;    
    grid-column: 2/3;
    margin-bottom: 10px;
    border: 1px solid black;
}
#img_line {
    grid-column: 2/3;
}
img{
    width: 150px;
    height: 100px;
}


footer {
    background-color: green;
}







#caroussel {
    grid-column: 2/3;
    position: relative;

  }
  
  .carroussel {
    overflow: hidden;
    margin: auto;
    position: relative;
    width: 70%;
    padding: 20px;
  
  }
  
  .carroussel__container {
    transition: transform 0.5s;
    transform: translate3d(0, 0, 0);
    display: flex;
  }
  
  .carroussel__item {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px;
    margin: 2%;
    padding: 10px;
    transition: transform 0.3s;
  
  }
  .carroussel__item:hover {
    transform: scale(1.1);
  }
  .carroussel__item img {
    width: 100%;
  }
  .carroussel__item h4{
    font-size: 0.85em;
    align-self: center;
  }
  .carroussel__item p{
    margin: 0;
    max-height: 100px;
    overflow: hidden;
    font-size: 0.7em;
    padding: 0;
  }
  .redirection {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }  
  
  #caroussel__prev, #carroussel__next {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white url(../images/suivant.png) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    opacity: 0.7;
    transition: transform 0.3s;
  }
  
  #caroussel__prev:hover, #carroussel__next:hover{
    transform: scale(1.2);
    opacity: 1;
  }
  
  #carroussel__next {
    right: 1%;
  }
  #caroussel__prev {
    background-image: url(../images/precedent.png);
    left: 1%;
  }
  .navigationMob{
    display:none;
}

  @media screen and (max-width : 620px) {

    .navigation{
        display:none;
    }
    .navigationMob{
        display:block;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .navMob{
       position: absolute;
       top: 0px;
       right : 0px;
    }
   
    a{
        list-style: none;
        text-decoration: none;
        grid-column-start: 1;
        grid-column-end: 1;
        display: flex;
        justify-content: space-evenly;
    }
  }
  
  


